$font-stack: 'Playfair Display', serif;
$background-color: #fafafa;
$card-background: #e1e1e1;
$primary-color: #85c82b;
$text-color: #111419;

@mixin transition($time) {
  transition: all $time cubic-bezier(0.86, 0, 0.07, 1);
}
@mixin calculateLeft($attr) {
  $attr-length: str-length($attr);
  @if($attr-length % 2 == 0) {
    left: -30px;
  } @else {
    left: -20px;
  }
}

html,body{
  height: 100%!important;
}
body{
  font-family: $font-stack;
  font-size: 13px;
  line-height: 1.5;
  background: $background-color;
  color: $text-color;
}
h1,h2,h3,h4,h5,h6{
  line-height: 1.5;
}
h1{
  font-weight: 700;
}

.btn{
  border-radius: 0;
  font-size: 13px;
  &:focus,&:active{
    outline: none !important;
  }
}

.main{
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 15px 15px;
  background-image: url('../../images/bar.png'),
                    url('../../images/bar.png'),
                    url('../../images/bar.png'),
                    url('../../images/bar.png'),
                    url('../../images/bar.png');
  background-repeat: repeat-y;
  background-position: 1% top, 25% top, 50% top, 75% top, 99% top;
  background-attachment: scroll;
  background-size: auto;
}
.separator{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    background: $text-color;
    opacity: 0.25;
    height: 1px;
  }
}
.hero-section{
  text-align: center;
  header{
    @media screen and (min-width: 768px) {
      float: left;
    }
  }
  > button{
    margin: 15px 0 10px;
    @media screen and (min-width: 768px) {
      float: right;
      margin: 20px 0 10px;
    }
  }
  .intro-section{
    padding: 15px 15px;
    @media screen and (min-width: 768px) {
      clear: both;
      margin: 10px auto 25px;
      width: 640px;
    }
    h2{
      font-size: 17px;
      margin-top: 10px;
      @media screen and (min-width: 768px) {
        font-size: 18px;
      }
    }
    p{
      margin-top: 25px;
    }
    .avatar{
      box-shadow: 0px 5px 30px 0 rgba(17, 20, 25, 0.35);
    }
  }
}
.title{
  font-size: 25px;
}
.about-btn{
  background: $primary-color;
  color: $background-color;
  box-shadow: 0px 5px 10px 0 rgba(133, 200, 43, 0.4);
  @include transition(0.33s);
  &:hover{
    color: #ffffff;
    box-shadow: 0px 5px 10px 0 rgba(133, 200, 43, 0.75);
    @include transition(0.2s);
  }
  &:focus{
    color: #ffffff;
    box-shadow: 0px 2px 10px 0 rgba(133, 200, 43, 0.4);
    @include transition(0.2s);
  }
}
.about-description{
  font-size: 15px;
  letter-spacing: 0.5px;
  b {
    color: #333;
    font-weight: 600;
  }
}

.social{
  position: relative;
  &.fixed {
    position: fixed;
    background: $background-color;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    padding: 15px 0;
  }
  p{
    &.separator{
      &:after{
        width: 20%;
        margin-left: -10%;
      }
    }
  }

  a{
    font-size: 0;
    &:before{
      content: "";
      margin: 15px 5px;
      width: 30px;
      height: 30px;
      display: inline-block;
    }
    &.twitter{
      &:before{
        background: url('../../images/social/twitter.png') no-repeat;
        background-size: contain;
      }
    }
    &.facebook{
      &:before{
        background: url('../../images/social/facebook.png') no-repeat;
        background-size: contain;
      }
    }
    &.linkedin{
      &:before{
        background: url('../../images/social/linkedin.png') no-repeat;
        background-size: contain;
      }
    }
    &.pinterest{
      &:before{
        background: url('../../images/social/pinterest.png') no-repeat;
        background-size: contain;
      }
    }
    &.google{
      &:before{
        background: url('../../images/social/google.png') no-repeat;
        background-size: contain;
      }
    }
    &.dribble{
      &:before{
        background: url('../../images/social/dribble.png') no-repeat;
        background-size: contain;
      }
    }
    &.behance{
      &:before{
        background: url('../../images/social/behance.png') no-repeat;
        background-size: contain;
      }
    }
  }
}
.card-container{
  padding: 15px 15px;
  .card{
    width: 100%;
    max-width: 640px;
    margin: 0 auto 30px;
    @media screen and (min-width: 768px) {
      margin: 0 auto 50px;
      position: relative;
    }
    .counter{
      display: inline-block;
      font-size: 34px;
      font-weight: 900;
      color: #555;
      position: relative;
      opacity: 0.2;
      line-height: 0;
      @media screen and (min-width: 768px) {
        font-size: 48px;
        position: absolute;
        left: -10px;
      }
      @media screen and (min-width: 992px) {
        font-size: 72px;
        position: absolute;
        left: -100px;
      }
      &:after{
        content: attr(data-content);
        position: absolute;
        left: -30px;
        // @include calculateLeft(attr(data-content));
        top: 0px;
        font-size: 20px;
        @media screen and (min-width: 768px) {
          left: -40px;
          font-size: 30px;
        }
      }
    }
    .image-name{
      display: inline-block;
      font-weight: 700;
    }
    .card-image{
      display: block;
      margin-bottom: 15px;
      box-shadow: 0px 15px 30px 0 rgba(17, 20, 25, 0.35);
      opacity: 0.85;
      background: $card-background;
      cursor: pointer;
      position: relative;
      @include transition(0.33s);
      &:hover{
        opacity: 1;
        box-shadow: 0px 20px 40px 0 rgba(17, 20, 25, 0.40);
        @include transition(0.2s);
      }
    }
  }
}
#fullScreenModal{
  background: $text-color;

  .modal-dialog{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .modal-content{
      border-radius: 0;
      background: inherit;
      padding: 50px 15px 0;
      box-shadow: none;
      border: none;
      color: $background-color;
      img{
        margin: 25px auto;
        box-shadow: 0 25px 50px 0 #000000;
      }
      a.back-link{
        color: $background-color;
        font-size: 16px;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}

.info-text{
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  max-width: 70%;
  &:before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: -20px;
    top: 2px;
    background: url('../../images/information.svg') no-repeat center center;
    background-size: contain;
    display: inline-block;
  }
}
.loader{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  background: $background-color;
  display: none;
  .circle{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: $primary-color;
    border-radius: 50%;
    opacity: 0;
  }
  .one{
    animation: load1 1s infinite ease-in;
  }
  .two{
    animation: load2 1s infinite ease-in;
  }
  .three{
    animation: load3 1s infinite ease-in;
  }
  @keyframes load1 {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.1;
    }
    75% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.1;
    }
  }
  @keyframes load2 {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.75;
    }
    75% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.1;
    }
  }
  @keyframes load3 {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
}
